.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}


.nav-container{
  height: 60px;
  width: 100%;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: blue;

}

.nav-list{
  width: 100%;
  display: flex;
  justify-content: end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}

.nav-list li{
  padding: 0 1rem;
  cursor: pointer;
}

.nav-title{
  font-size: 32px;
  width: 30%;
}



.slider-container{
  width: 100%;
  height: 100%;
  padding: 10%;
  background: url('./Images/Background.jpg');
  opacity: 0.8;
  /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: repeat; */
  /* background-attachment: fixed; */
}

.slider-container p{
    /* margin-left: 20rem;
    margin-right: 20rem; */
    font-size: 3em;
    padding-top: 15rem;
    color: black;
    width: 30%; 
}

.slider-container button{
  padding: 1rem;
  margin-left: 45%;
  margin-bottom: 5%;
  margin-top: 3%;
  background-color: blue;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 8px;
}


.slider-btn:hover{
    background-color: wheat;
    color: black;
    transition: 0.5s;
}

/* .order-btn{
  padding: 1rem;
  margin-top: 2rem; 
  margin-right: 50rem;
  margin-top: 40rem;
  height: 20%;
} */

.cake-card{
  /* overflow-x: scroll; */
  min-height: 100%;
  max-width: 100%;
  display: inline-block;
  padding: 1rem 2rem;
  height: 100%;
}

.cake-card img{
  padding-left: 3rem;
}

.cake-card p{
  font-size: 20px;
  font-weight: bold;
  padding-left: 3rem;
}

.formInput{
  display: flex;
  flex-direction: column;
  width: 280px;
}

input{
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}


label{
  font-size: 12px;
  color: gray;
}

span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"]{
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
  display: block;
}

.order-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.order-input:focus{
  background-color: rgb(165, 236, 236);
}

.order-input{
  box-shadow: 0px 0px 8px rgba(67, 65, 65, .4);
  font-size: 1.2rem;
  padding: 10px;
  margin: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  width: 20%;
}

.form-btn{
  width: auto;
  padding: 10px 30px;
  margin: 10px;
  border: 2px solid white;
  font-size: 1.2rem;
  box-shadow: 0px 0px 8px rgba(67, 65, 65, .4);
  border-radius: 100px;
  cursor: pointer;
}

table{
  width: 30%;
}